/* Globals */
.container{
    margin: auto;
    width: 80%;
    
}
body {
    font: 15px/1.5 Arial;
}
/* header */
header {
    background-color: lightgrey;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */
#image {
    max-width: 100%;
    height: auto;
    display: block;
}

#image_container {
  text-align: center;
}

#image_container figcaption {
    margin: 20px 0px;
}

/* tribute info */
#info {
    background-color: lightgray;

}

#info h2 {
    text-align: center;
    padding : 20px 0px;
}

#list {
    width : 50%;
    margin: auto;
}

ul li {
    padding: 5px 0;
}
ul {
    margin: 0;
    padding: 0;
}

#foot{
    text-align: center;
    margin: 50px 0;
    padding-bottom: 10px;
    font-weight: bold;
}