/* Globals */
.container{
    margin: auto;
    width: 80%;
}

/* header */
header {
    background-color: lightgrey;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */
#image {
    max-width: 100%;
    height: auto;
}

#image_container {
  text-align: center;
}

#image_container figcaption {
    margin: 20px 0px;
}

/* tribute info */
#info {
    background-color: lightgray;
}

#info h2 {
    text-align: center;
    padding : 20px 0px;
}

#list {
    width : 50%;
    margin: auto;
}

ul li {
    padding: 5px 0;
}
